.profile-icons {
	color: #999;
	margin-left: 10px;
	margin-right: 10px;
}
.name {
	margin-top: 3px;
	color: #555;
	margin-left: 0px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 1em;
}
.info {
	font-family: 'Roboto';
	font-weight: 100;
	color: #777;
}

.media {
	list-style: none;
	margin: 0 auto;
}
.content-div {
	margin-top: 20px;
}
.top {
	padding-top: 20px;
	border-bottom: 5px solid #062f3c;
	padding-left: 20px;
	padding-bottom: 20px;
}
.person {
	color: #999;
}
.prefix-icons {
	color: #b4a996;
	margin-right: 5px;
}
.cat {
	background-color: #b4a996;
	border-bottom: 1px solid #eee;
	font-family: 'Open Sans', Sans;
	font-weight: 400;
	padding: 5px;
	padding-left: 10px;
	border-radius: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #062f3c;
}
.li-p {
	margin-left: 20px;
	font-weight: normal;

}
.li-p2 {font-weight: normal;
	display: inline !important;
	margin-right: 5px;
	font-weight: normal;
}
li {
	color: #555;
	margin-bottom: 10px;
}
ul {
	border: 0px !important;
	list-style: none;
}
.bold {
	font-weight: bold;

}
.media-body span{
	font-family: Sans;
}
